In [46]:
import pandas as pd
import numpy as np

In [47]:
df=pd.read_csv('matches_1930_2022.csv')
df

,home_team,away_team,home_score,home_xg,home_penalty,away_score,away_xg,away_penalty,home_manager,home_captain,...,home_penalty_shootout_miss_long,away_penalty_shootout_miss_long,home_red_card,away_red_card,home_yellow_red_card,away_yellow_red_card,home_yellow_card_long,away_yellow_card_long,home_substitute_in_long,away_substitute_in_long
0,Argentina,France,3,3.3,4.0,3,2.2,2.0,Lionel Scaloni,Lionel Messi,...,NaN,"['3|1:1|Kingsley Coman', '5|2:1|Aurélien Tchou...",NaN,NaN,NaN,NaN,"['45+7&rsquor;|2:0|Enzo Fernández', '90+8&rsqu...","['55&rsquor;|2:0|Adrien Rabiot', '87&rsquor;|2...",['64&rsquor;|2:0|Marcos Acuña|for Ángel Di Mar...,['41&rsquor;|2:0|Randal Kolo Muani|for Ousmane...
1,Croatia,Morocco,2,0.7,NaN,1,1.2,NaN,Zlatko Dalić,Luka Modrić,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['69&rsquor;|2:1|Azzedine Ounahi', '84&rsquor;...",['61&rsquor;|2:1|Nikola Vlašić|for Andrej Kram...,['46&rsquor;|2:1|Ilias Chair|for Abdelhamid Sa...
2,France,Morocco,2,2.0,NaN,0,0.9,NaN,Didier Deschamps,Hugo Lloris,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['27&rsquor;|1:0|Sofiane Boufal'],['65&rsquor;|1:0|Marcus Thuram|for Olivier Gir...,['21&rsquor;|1:0|Selim Amallah|for Romain Saïs...
3,Argentina,Croatia,3,2.3,NaN,0,0.5,NaN,Lionel Scaloni,Lionel Messi,...,NaN,NaN,NaN,NaN,NaN,NaN,"['68&rsquor;|2:0|Cristian Romero', '71&rsquor;...","['32&rsquor;|0:0|Mateo Kovačić', '32&rsquor;|0...",['62&rsquor;|2:0|Lisandro Martínez|for Leandro...,"['46&rsquor;|2:0|Mislav Oršić|for Borna Sosa',..."
4,Morocco,Portugal,1,1.4,NaN,0,0.9,NaN,Hoalid Regragui,Romain Saïss,...,NaN,NaN,NaN,NaN,Walid Cheddira · 90+3,NaN,"['70&rsquor;|1:0|Achraf Dari', '90+1&rsquor;|1...",['87&rsquor;|1:0|Vitinha'],['57&rsquor;|1:0|Achraf Dari|for Romain Saïss'...,['51&rsquor;|1:0|João Cancelo|for Raphaël Guer...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
959,Argentina,France,1,NaN,NaN,0,NaN,NaN,Francisco Olazar,Manuel Ferreira,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
960,Yugoslavia,Brazil,2,NaN,NaN,1,NaN,NaN,Bosko Simonovic,Milutin Ivković,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
961,Romania,Peru,3,NaN,NaN,1,NaN,NaN,Octav Luchide,Emerich Vogl,...,NaN,NaN,NaN,Plácido Galindo · 70,NaN,NaN,NaN,NaN,NaN,NaN
962,United States,Belgium,3,NaN,NaN,0,NaN,NaN,Bob Millar,Tom Florie,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963,France,Mexico,4,NaN,NaN,1,NaN,NaN,Raoul Caudron,Alexandre Villaplane,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df = df.drop([
    'home_manager',
    'home_penalty_shootout_miss_long',
    'away_penalty_shootout_miss_long',
    'home_red_card',
    'away_red_card',
    'home_yellow_red_card',
    'away_yellow_red_card',
    'home_yellow_card_long',
    'away_yellow_card_long',
    'home_substitute_in_long',
    'away_substitute_in_long',
    'away_goal_long',
    'home_own_goal',
    'away_own_goal',
    'home_penalty_goal',
    'away_penalty_goal',
    'home_penalty_miss_long',
    'away_penalty_miss_long',
    'home_penalty_shootout_goal_long',
    'away_penalty_shootout_goal_long',
    'home_goal',
    'away_goal',
    'home_goal_long',
    'Attendance',
    'Venue',
    'Officials',
    'Referee',
    'Notes',
    'away_penalty',
    'home_captain',
    'away_manager',
    'away_captain',
    'home_xg',
    'home_penalty',
    'away_xg'
], axis=1)

In [49]:
df

,home_team,away_team,home_score,away_score,Round,Date,Score,Host,Year
0,Argentina,France,3,3,Final,2022-12-18,(4) 3–3 (2),Qatar,2022
1,Croatia,Morocco,2,1,Third-place match,2022-12-17,2–1,Qatar,2022
2,France,Morocco,2,0,Semi-finals,2022-12-14,2–0,Qatar,2022
3,Argentina,Croatia,3,0,Semi-finals,2022-12-13,3–0,Qatar,2022
4,Morocco,Portugal,1,0,Quarter-finals,2022-12-10,1–0,Qatar,2022
...,...,...,...,...,...,...,...,...,...
959,Argentina,France,1,0,Group stage,1930-07-15,1–0,Uruguay,1930
960,Yugoslavia,Brazil,2,1,Group stage,1930-07-14,2–1,Uruguay,1930
961,Romania,Peru,3,1,Group stage,1930-07-14,3–1,Uruguay,1930
962,United States,Belgium,3,0,Group stage,1930-07-13,3–0,Uruguay,1930
963,France,Mexico,4,1,Group stage,1930-07-13,4–1,Uruguay,1930

In [52]:
# home_team , away_team

# Convert team names to consistent format (recommended)
df['home_team'] = df['home_team'].str.strip()
df['away_team'] = df['away_team'].str.strip()
dfr['team'] = dfr['team'].str.strip()

# Get list of valid teams from ranking
valid_teams = dfr['team'].unique()

# Filter: keep only rows where BOTH teams are in ranking list
filtered_df = df[df['home_team'].isin(valid_teams) & df['away_team'].isin(valid_teams)]

print("Before filtering:", len(df))
print("After filtering:", len(filtered_df))

filtered_df.head()

Before filtering: 964
After filtering: 520

,home_team,away_team,home_score,away_score,Round,Date,Score,Host,Year
0,Argentina,France,3,3,Final,2022-12-18,(4) 3–3 (2),Qatar,2022
1,Croatia,Morocco,2,1,Third-place match,2022-12-17,2–1,Qatar,2022
2,France,Morocco,2,0,Semi-finals,2022-12-14,2–0,Qatar,2022
3,Argentina,Croatia,3,0,Semi-finals,2022-12-13,3–0,Qatar,2022
4,Morocco,Portugal,1,0,Quarter-finals,2022-12-10,1–0,Qatar,2022

In [53]:
filtered_df

,home_team,away_team,home_score,away_score,Round,Date,Score,Host,Year
0,Argentina,France,3,3,Final,2022-12-18,(4) 3–3 (2),Qatar,2022
1,Croatia,Morocco,2,1,Third-place match,2022-12-17,2–1,Qatar,2022
2,France,Morocco,2,0,Semi-finals,2022-12-14,2–0,Qatar,2022
3,Argentina,Croatia,3,0,Semi-finals,2022-12-13,3–0,Qatar,2022
4,Morocco,Portugal,1,0,Quarter-finals,2022-12-10,1–0,Qatar,2022
...,...,...,...,...,...,...,...,...,...
954,Argentina,Mexico,6,3,Group stage,1930-07-19,6–3,Uruguay,1930
955,Uruguay,Peru,1,0,Group stage,1930-07-18,1–0,Uruguay,1930
959,Argentina,France,1,0,Group stage,1930-07-15,1–0,Uruguay,1930
961,Romania,Peru,3,1,Group stage,1930-07-14,3–1,Uruguay,1930
963,France,Mexico,4,1,Group stage,1930-07-13,4–1,Uruguay,1930

In [57]:
# Create a new column called winner
filtered_df['winner'] = filtered_df.apply(lambda row: 
                                          row['home_team'] if row['home_score'] > row['away_score'] 
                                          else (row['away_team'] if row['away_score'] > row['home_score'] 
                                                else 'Draw'), axis=1)

C:\Users\cbsen\AppData\Local\Temp\ipykernel_7072\3264289546.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['winner'] = filtered_df.apply(lambda row:

In [58]:
filtered_df

,home_team,away_team,home_score,away_score,Round,Date,Score,Host,Year,winner,result_numeric
0,Argentina,France,3,3,Final,2022-12-18,(4) 3–3 (2),Qatar,2022,Draw,NaN
1,Croatia,Morocco,2,1,Third-place match,2022-12-17,2–1,Qatar,2022,Croatia,1.0
2,France,Morocco,2,0,Semi-finals,2022-12-14,2–0,Qatar,2022,France,1.0
3,Argentina,Croatia,3,0,Semi-finals,2022-12-13,3–0,Qatar,2022,Argentina,1.0
4,Morocco,Portugal,1,0,Quarter-finals,2022-12-10,1–0,Qatar,2022,Morocco,1.0
...,...,...,...,...,...,...,...,...,...,...,...
954,Argentina,Mexico,6,3,Group stage,1930-07-19,6–3,Uruguay,1930,Argentina,1.0
955,Uruguay,Peru,1,0,Group stage,1930-07-18,1–0,Uruguay,1930,Uruguay,1.0
959,Argentina,France,1,0,Group stage,1930-07-15,1–0,Uruguay,1930,Argentina,1.0
961,Romania,Peru,3,1,Group stage,1930-07-14,3–1,Uruguay,1930,Romania,1.0
963,France,Mexico,4,1,Group stage,1930-07-13,4–1,Uruguay,1930,France,1.0

In [65]:
# Create a new numeric result column
filtered_df['result_numeric'] = 0   # default draw

filtered_df.loc[filtered_df['home_score'] > filtered_df['away_score'], 'result_numeric'] = 1    # home win
filtered_df.loc[filtered_df['home_score'] < filtered_df['away_score'], 'result_numeric'] = -1   # away win

C:\Users\cbsen\AppData\Local\Temp\ipykernel_7072\4149001589.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['result_numeric'] = 0   # default draw

In [66]:
filtered_df

,home_team,away_team,home_score,away_score,Round,Date,Score,Host,Year,winner,result_numeric
0,Argentina,France,3,3,Final,2022-12-18,(4) 3–3 (2),Qatar,2022,Draw,0
1,Croatia,Morocco,2,1,Third-place match,2022-12-17,2–1,Qatar,2022,Croatia,1
2,France,Morocco,2,0,Semi-finals,2022-12-14,2–0,Qatar,2022,France,1
3,Argentina,Croatia,3,0,Semi-finals,2022-12-13,3–0,Qatar,2022,Argentina,1
4,Morocco,Portugal,1,0,Quarter-finals,2022-12-10,1–0,Qatar,2022,Morocco,1
...,...,...,...,...,...,...,...,...,...,...,...
954,Argentina,Mexico,6,3,Group stage,1930-07-19,6–3,Uruguay,1930,Argentina,1
955,Uruguay,Peru,1,0,Group stage,1930-07-18,1–0,Uruguay,1930,Uruguay,1
959,Argentina,France,1,0,Group stage,1930-07-15,1–0,Uruguay,1930,Argentina,1
961,Romania,Peru,3,1,Group stage,1930-07-14,3–1,Uruguay,1930,Romania,1
963,France,Mexico,4,1,Group stage,1930-07-13,4–1,Uruguay,1930,France,1

In [67]:
filtered_df[filtered_df['result_numeric'] == -1]

,home_team,away_team,home_score,away_score,Round,Date,Score,Host,Year,winner,result_numeric
5,England,France,1,2,Quarter-finals,2022-12-10,1–2,Qatar,2022,France,-1
19,Serbia,Switzerland,2,3,Group stage,2022-12-02,2–3,Qatar,2022,Switzerland,-1
20,Canada,Morocco,1,2,Group stage,2022-12-01,1–2,Qatar,2022,Morocco,-1
27,Poland,Argentina,0,2,Group stage,2022-11-30,0–2,Qatar,2022,Argentina,-1
28,Ecuador,Senegal,1,2,Group stage,2022-11-29,1–2,Qatar,2022,Senegal,-1
...,...,...,...,...,...,...,...,...,...,...,...
701,Argentina,Brazil,1,2,Second round,1974-06-30,1–2,Germany,1974,Brazil,-1
706,Sweden,Poland,0,1,Second round,1974-06-26,0–1,Germany,1974,Poland,-1
724,Uruguay,Netherlands,0,2,First round,1974-06-15,0–2,Germany,1974,Netherlands,-1
870,Switzerland,Austria,5,7,Quarter-finals,1954-06-26,5–7,Switzerland,1954,Austria,-1
876,Switzerland,England,0,2,Group stage,1954-06-20,0–2,Switzerland,1954,England,-1

In [68]:
filtered_df.to_csv('cleaned_data(week1).csv', index=False)

In [69]:
filtered_df

,home_team,away_team,home_score,away_score,Round,Date,Score,Host,Year,winner,result_numeric
0,Argentina,France,3,3,Final,2022-12-18,(4) 3–3 (2),Qatar,2022,Draw,0
1,Croatia,Morocco,2,1,Third-place match,2022-12-17,2–1,Qatar,2022,Croatia,1
2,France,Morocco,2,0,Semi-finals,2022-12-14,2–0,Qatar,2022,France,1
3,Argentina,Croatia,3,0,Semi-finals,2022-12-13,3–0,Qatar,2022,Argentina,1
4,Morocco,Portugal,1,0,Quarter-finals,2022-12-10,1–0,Qatar,2022,Morocco,1
...,...,...,...,...,...,...,...,...,...,...,...
954,Argentina,Mexico,6,3,Group stage,1930-07-19,6–3,Uruguay,1930,Argentina,1
955,Uruguay,Peru,1,0,Group stage,1930-07-18,1–0,Uruguay,1930,Uruguay,1
959,Argentina,France,1,0,Group stage,1930-07-15,1–0,Uruguay,1930,Argentina,1
961,Romania,Peru,3,1,Group stage,1930-07-14,3–1,Uruguay,1930,Romania,1
963,France,Mexico,4,1,Group stage,1930-07-13,4–1,Uruguay,1930,France,1